@import '../../styles/global.css';
@import '../../styles/layout.css';
@import '../../styles/interior.css';
@import '../../styles/section.css';
@import '../../styles/header.css';
@import '../../styles/navigation.css';
@import 'visual-example.css';

.visual-example {
  margin-top: 1.5rem;
  box-shadow: 0px 1px 8px 0px rgba(167, 167, 167, 1);
}

@media screen {
  .section.content:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.05);
  }
}

#nav {
  padding-bottom: 0.5rem;
}

#nav .content {
  border: none;
}

/* header overrides */

.header.section {
  padding-left: 0;
  padding-right: 0;
}

.header {
  color: rgba(255, 255, 255, 0.9);

  width: inherit;

  margin: 0;

  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-clip-path:  polygon(0 0, 90% 2%, 100% 0, 100% 100%, 10% 98%, 0 100%);
  clip-path:          polygon(0 0, 90% 2%, 100% 0, 100% 100%, 10% 98%, 0 100%);

  text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
}

.header .wrap {
  background-color: rgba(0, 0, 0, 0.55);
  justify-content: center;
  position: relative;
  padding: 0 1rem 1rem 1rem;
}

@media print {
  .header .content {
    padding: 0 6rem;
  }
}
