h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-top: 3rem;
}

h2.logo {
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: contain;
    height: 64px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1.3rem;
}

h2.logo.rocket {
    background-image: url('/assets/logos/rocket.png');
}

h2.logo.amazon {
    background-image: url('/assets/logos/amazon.png');
}

h2.logo.disney {
    background-image: url('/assets/logos/disney.png');
}

h2.logo.phenomblue {
    background-image: url('/assets/logos/phenomblue.png');
}