section{
  padding: 6rem 0;
}

@media print {
  section {
    padding: 3rem 0;
  }
}

visual-example {
  margin-top: 1.5rem;
}

@media screen {
  header,
  section:nth-child(even){
    background-color: rgba(0, 0, 0, 0.05);
  }
}
