@import '../../styles/global.css';
@import '../../styles/layout.css';
@import '../../styles/interior.css';
@import '../../styles/section.css';
@import '../../styles/header.css';
@import '../../styles/navigation.css';

/*.section:nth-of-type(1n+2) {
  padding-top: 6rem;
  padding-bottom: 3rem;
}*/

.header {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

p.context {
  color: rgba(0, 0, 0, 0.65);
  font-style: italic;
  font-size: 1rem;
}

h3 {
  margin-top: 5rem !important;
}

h3:first-of-type {
  margin-top: inherit !important;
}

/*#brands{
  list-style:none;
  flex-wrap: nowrap;
}

#brands li{
  padding: 0 0.4rem 0 0.4rem;
  margin: 0;
  flex: 1 1 auto;
  display: block;
  width: 100%;
  height: auto;
}

#brands li:first-child{
  padding-left: 0;
}

#brands li:last-child{
  padding-right: 0;
}

#brands img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}*/

@media print {
  #nav {
    display: none;
  }

  .header {
    padding-top: 0;
  }

  h1 {
    visibility: hidden;
    position: relative;
  }

  h1:after {
    visibility: visible;
	  position: absolute;
	  top: 0;
	  left: 0;
    content: 'Jason Bejot';
  }

  .content {
    display: block;
  }

  .header .content:after {
    content: 'Portfolio: jasonbejot.com/portfolio';
  }

  #brands {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    list-style: none;
    padding: 0;
    margin: 0;
  }

  #brands li {
    width: 25%;
  }
}
