$color-backgroundgrey: #1c1c1c;
$color-link: rgb(247, 72, 82);
$color-lighttext: rgba(255, 255, 255, 0.8);
$color-darktext: rgba(51, 51, 51, 1);
$color-grey: rgba(51, 51, 51, 0.8);

$color-background-dark: #1B1B1B;
$color-text-dark: #1B1B1B;
$color-text-light: #FFFFFF;
$color-text-link: #26B0EB;

// https://digitalsynopsis.com/design/2019-color-trends-worlds-most-popular-colors/

$color-19-germany: #00ced1;
$color-19-plasticpink: #ff1493;
$color-19-protonpurple: #8a2be2;
$color-19-korea: #2e8b57;
