* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  /*background-color: white;*/
  background-color: #e4e4e4;
  @include font-raleway;
  color: $color-darktext;
  line-height: 1;
  font-size: 16px;
}

p, footer, ul {
  line-height: 1.5em;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

ul {
  margin-left: 1.5rem;
  margin-top: 1rem;

  &:first-child { margin-top: 0; }
}

/** + p {*/
p {
  margin-top: 1.3em;

  &:first-child { margin-top: 0; }
}

a {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

img {
  margin-top: 3em;

  + * { margin-top: 3em; }

  &:first-child { margin-top: 0; }
}
