/* screen sizes */
@mixin screen-sm {
  @media all and (max-width: 575px) { @content; }
}

@mixin screen-md {
  @media all and (max-width: 768px) { @content; }
}

@mixin screen-lg {
  @media all and (max-width: 991px) { @content; }
}

@mixin screen-xl {
  /*@media all and (max-width: 1199px) { @content; }*/
  @media all and (min-width: 992px) { @content; }
}



@mixin screen-small {
  @media all and (max-width: 578px) {
    //margin: 0 auto;
    //width: 100%;
    @content;
  }
}

@mixin screen-regular {
  @media all and (max-width: $screen-width-max) {
    //margin: 0 auto;
    //width: 100%;
    @content;
  }
}

@mixin screen-large {
  @media all and (min-width: $screen-width-max) {
    //margin: 0 auto;
    //width: $content-width-max;
    @content;
  }
}

/*@mixin content-breakpoint {
  @include screen-regular { }
  @include screen-large { }
}*/


/* fonts */
@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; // regular
}

@mixin font-baskerville {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

@mixin font-roboto-slab {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

@mixin font-josefin-slab {
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
}
