/* screen sizes */
@mixin screen-sm {
  @media all and (max-width: 575px) { @content; }
}

@mixin screen-md {
  @media all and (max-width: 768px) { @content; }
}

@mixin screen-lg {
  @media all and (max-width: 991px) { @content; }
}

@mixin screen-xl {
  /*@media all and (max-width: 1199px) { @content; }*/
  @media all and (min-width: 992px) { @content; }
}

/* fonts */
@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

@mixin font-baskerville {
  font-family: 'Libre Baskerville', serif;
}

@mixin font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}

@mixin font-josefin-slab {
  font-family: 'Josefin Slab', serif;
}
