/*h2 {
  font-weight: 600;
  margin-top: 2em;

  &:first-of-type, + * {
    margin-top: 0;
  }
}*/

img.work, #page.work #content img {
  //background-color: $color-text-dark;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: scale-down;//none;
  width: 100%;
}

#page.work {
  #title {
    margin-bottom: 0;

    #year, #company {
      text-align: center;
      display: block;
      font-size: 0.9rem;
    }

    #company {
      margin-top: 1rem;
    }

    p {
      text-align: center;
    }
  }

  #hero img {
    width: 100%;
  }

  #content {
    img {
      width: 100%;
      max-height: 440px;
      /*background-color: $color-text-dark;
      background-repeat: no-repeat;
      background-position: center;
      object-fit: none;*/
    }

    * + p {
      margin-bottom: 1.3rem;
    }
  }

  ul {
    margin: 0;
    list-style: none;

    li + li {
      margin-top: 1rem;
    }
  }

  /*#news-awards {
    display: grid;
    grid-template-columns: [left] 1fr [right] 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1.5rem;

    @include screen-small {
      grid-template-columns: [left right] auto;
    }

    section {
      grid-column: left;
    }

    #awards ~ #news {
      grid-column: right;
    }
  }*/
}
