h1, h2, h3, h4 {
  letter-spacing: 0.12rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
}

h1, h2, h4 {
  font-family: 'Libre Baskerville', serif;
  text-transform: none;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  line-height: 1.1em;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

h3:first-child {
  margin-top: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 2.5rem;
}

h3:first-child {
  margin-top: 0;
}

h4 {
  letter-spacing: normal;
  margin-top: 1.5rem;
}

h4:first-child{
  margin-top: 0;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1.25rem;
}

ul {
  list-style: disc;
  /*padding-top: 0.5rem;
  padding-bottom: 0.5rem;*/
  margin: 1.25rem 0;
}

ul:first-child {
  margin-top: 0;
}

ul:last-child {
  margin-bottom: 0;
}

li ul {
  list-style: circle;
}

ul > li{
  margin-left:2rem;
  /*margin-bottom: 0.3rem;*/
}

blockquote{
  padding: 0 2rem;
  margin: 2rem 0;
}

blockquote p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem
}

blockquote p::before,
blockquote p::after{
  content: '"';
}

blockquote footer{
  margin: 0;
  text-align: right;
  font-size: 0.9rem;
}

blockquote footer::before{
  content: '- ';
}
