*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.85);
}

a{
  color: rgba(255, 255, 255, 0.85);
}

a:hover{
  text-decoration: line-through;
}

ul{
  list-style: none;
}

ul.flex > li{
  padding: 0.3rem;
  margin: 0.2rem 0;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex.row{
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.flex.column{
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
}

.section{
  height: 95vh;
  align-items: center;
  justify-content: center;
}

.section:nth-child(2n+1){
  background-color: #A5D6A7;
  color: rgba(0, 0, 0, 0.75);
}

.section:nth-child(2n+1),
.section:nth-child(2n+1) a{
  color: rgba(0, 0, 0, 0.75);
}

.section:nth-child(3){
  /*background-color: #C5E1A5;*/
  background-color: #B39DDB;
}

.section:nth-child(5){
  background-color: #80CBC4;
}

.section:last-of-type{
  height: 100vh;
}

.section > .content {
  max-width: 45%;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.2rem;
}

.content > div + div{
  margin-top: 4rem;
}

#tech{
  justify-content: space-around;
}

#tech > li{
  display: inline-block;
  background: rgba(0,0,0,0.15);
}

#social{
  justify-content: space-between;
  align-items: center;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  border-radius: 4rem;
  padding: 2rem 1rem;
  min-height: 220px;
}

#social > li{

}
