*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  color: rgba(0, 0, 0, 0.85);
}

a{
  color: rgba(0, 0, 0, 0.85);
}

a:hover{
  text-decoration: line-through;
}

ul{
  list-style: none;
}

ul.flex > li{
  padding: 0.3rem;
  margin: 0.5rem 0;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex.row{
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.flex.column{
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
}

.section{
  margin-top: 12rem;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section:last-of-type{
  margin-bottom: 4rem;
}

.section > .content {
  max-width: 42rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.2rem;
  padding: 0 1rem;
}

.content > div + div{
  margin-top: 4rem;
}

#name{
  position: relative;
  overflow: visible;
  height: 35rem;
  margin:0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#60e064+0,22b524+100 */
  background: rgb(96,224,100); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(96,224,100,1) 0%, rgba(34,181,36,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(96,224,100,1) 0%,rgba(34,181,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(96,224,100,1) 0%,rgba(34,181,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60e064', endColorstr='#22b524',GradientType=0 ); /* IE6-9 */

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);

  /*-webkit-box-shadow: 0 0px 26px 16px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0px 26px 16px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 26px 16px rgba(0, 0, 0, 0.25);*/
}

#writing .medium{
  margin-top: 4rem;
}

#writing .medium .posts{
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;*/
  width: 100%;
  position: relative;
}

#writing .medium .post{
  flex-shrink: 0;
  width: 100%;
  margin-right: 8rem;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 0.5em;
}

#writing .medium .previewImage{
  overflow: hidden;
}

#writing .medium .previewImage > img{
  width: 100%;
}

#writing .medium .post .date{
  font-size: 0.8rem;
}

#writing .medium .post .subtitle{
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  line-height: 2rem;
}

#tech{
  justify-content: space-around;
}

#tech > li{
  display: inline-block;
  background: rgba(0,0,0,0.15);
}

#social ul{
  justify-content: center;
}

#social li{
  margin: 0;
  font-size: 1rem;
  line-height: normal;
  padding: 1rem;
}

#social img{
  width: 42px;
  height: 42px;
}

#books{
  height: 54rem;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dd2ded+0,aa24c1+100 */
  background: rgb(221,45,237); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(221,45,237,1) 0%, rgba(170,36,193,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(221,45,237,1) 0%,rgba(170,36,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(221,45,237,1) 0%,rgba(170,36,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2ded', endColorstr='#aa24c1',GradientType=0 ); /* IE6-9 */

  -webkit-clip-path: polygon(0 0, 90% 2%, 100% 0, 100% 100%, 10% 98%, 0 100%);
  clip-path: polygon(0 0, 90% 2%, 100% 0, 100% 100%, 10% 98%, 0 100%);
}

#books .content {
  width: auto;
  height: auto;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

#books .read{
  position: relative;
  height: 80%;
  width: 100%;
}

#books .read > .books{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

@keyframes example{
  to{
    -webkit-filter: opacity(1) saturate(1);
    filter: opacity(1) saturate(1);
  }
}

#books .read > .books > a{
  -webkit-filter: opacity(0.16) saturate(0.4);
  filter: opacity(0.16) saturate(0.4);
  margin-right: 0.3rem;
}

#books .read > .books > a:hover{
  animation-name: example;
  animation-timing-function: ease;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#books .current{
  margin-top: 1rem;
}

#band .content > *{
  margin-bottom: 1rem;
}

/*#band .photo{
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(26,26,26,1) 91%),
              -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 100%),
              url('../assets/photo.jpg') no-repeat;
  background: linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(26,26,26,1) 91%),
              linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 100%),
              url('../assets/photo.jpg') no-repeat;
  height: 720px;
  width: 480px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}*/
