@import 'interior.css';

p.context{
  color: rgba(0, 0, 0, 0.65);
}

.position{
  margin-top:4rem;
}

.position:first-child{
  margin-top: 0;
}

#brands{
  list-style:none;
  flex-wrap: nowrap;
}

#brands li{
  padding: 0 0.4rem 0 0.4rem;
  margin: 0;
  flex: 1 1 auto;
  display: block;
  width: 100%;
  height: auto;
}

#brands li:first-child{
  padding-left: 0;
}

#brands li:last-child{
  padding-right: 0;
}

#brands img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
