.section{
  width: 100vw;
  overflow: hidden;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  position: relative;

  padding: 6rem 0;
}

.section .content {
  max-width: 42rem;
  width: 100%;

  letter-spacing: normal;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  word-spacing: 0.2rem;
  line-height: 2.2rem;
}

@media print {
  .section {
    padding: 3rem 0;
  }

  .section .content {
    max-width: 100%;
  }
}
